<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加页面</title>
</head>
<body>
<form action="toInsert" method="post">
    <input type="hidden" name="_method" value="PUT">
  id:<input type="text" name="id" th:placeholder="${idService.id}"/>
  name:<input type="text" name="name"  th:placeholder="${idService.name}"/>
  sex:<input type="text" name="sex"  th:placeholder="${idService.sex}"/>
  <input type="submit"/>
</form>
</body>
</html>
